.popup__button:disabled {
  width: 100%;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-top: 48px;
  color: black;
  opacity: 0.2;
  background-color: white;
  font-size: 36px;
}
.popup__button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 36px;
  margin-top: 48px;
}


#submit2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
/*
.popup-profile__button:disabled {
  width: 100%;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-top: 48px;
  color: black;
  opacity: 0.2;
  background-color: white;
  font-size: 18px;
  line-height: 22px;
}
​
.popup-profile__button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  margin-top: 48px;
}*/


